/* You can add global styles to this file, and also import other style files */
/* Generales */
.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 14px;
}

.active {
    background-color: #292929;
}

/* Cabecera */
.navigation {
    margin: 0px !important;
    padding: 0px !important;
}

.navigation .navbar {
    border-radius: 0px !important;
    background-color: #090B10 !important;
    border: none !important;
}

.navigation .navbar a:hover {
    background-color: #292929 !important;
    color: white !important;
}

.jumbotron {
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.jumbotron a {
    margin: auto 5px !important;
}

.navigation .navbar .dropdown-menu *{
    color: black !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:focus {
    background: #292929 !important;
}

.navigation .navbar .dropdown-menu a:hover {
    background-color: #eee !important;
    color: black !important;
}

.pointer {
    cursor: pointer;
}