<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">{{title}}</a>
      </div>
      <ul class="nav navbar-nav" *ngIf="identity">
        <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a></li>
        <li><a href="#">Timeline</a></li>
        <li><a href="#">Gente</a></li>
      </ul>

      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
        <li><a [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a></li>
        <li><a [routerLink]="['/registro']" [routerLinkActive]="['active']">Registro</a></li>
      </ul>

      <ul class="nav navbar navbar-right" *ngIf="identity">
        <li class="avatar">
          <!-- Cargar imagen de usuario -->
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{identity.name}} <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                Mi perfil
              </a>
            </li>
            <li>
              <a href="#" [routerLink]="['/mis-datos']">
                <span class="glyphicon glyphicon-cog"></span>
                Mis datos
              </a>
            </li>
            <li>
              <a href="#" class="pointer" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                Cerrar sesión
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>